# ---- Python ----
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg

# ---- Virtual Environment ----
venv/
env/

# ---- Environment Variables ----
.env


.vscode/
.idea/
*.swp
*.swo

# ---- OS Files ----
.DS_Store
Thumbs.db

# ---- Logs ----
*.log

